<div class="@(PhotoViewDisplay ? "" : "hidden") fixed top-0 right-0 left-0 bottom-0 bg-transparent flex items-center
            justify-center pointer-events-none">
    @* TODO: Smarter way to select which axis is longest? e.g. object-contain but to 85% of the shorter axis. *@
    <div class="aspect-square w-85/100 sm:w-auto sm:h-85/100 bg-transparent flex items-center justify-center">
        <img src="@(Src)" class="max-w-full max-h-full object-contain pointer-events-auto" />
    </div>
</div>

@code {
    [Parameter] public bool PhotoViewDisplay { get; set; } = false;
    [Parameter] public string Src { get; set; } = "";
}