@using BlazorPersonalWebsite.Components.Modules

<p class="mb-4 -mt-2">
    <Subtle>
        @ChildContent
    </Subtle>
</p>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}