<a href=@(Url) class="p-4 rounded-lg bg-slate-100 text-left hover:z-10 hover:scale-105 ring-blue-500 hover:ring-2 shadow hover:shadow-md transition-all ease-in-out duration-75">
    <img src="@(ImagePath)" alt="@(AltText)" class="inline-block w-5" />
    <p class="inline font-bold">
        @(Title)
    </p>
    <p class="mt-2 text-sm">
        @(Body)
    </p>
</a>

@code {
    [Parameter]
    public string ImagePath { get; set; } = string.Empty;
    
    [Parameter]
    public string AltText { get; set; } = string.Empty;
    
    [Parameter]
    public string Title { get; set; } = string.Empty;
    
    [Parameter]
    public string Body { get; set; } = string.Empty;
    
    [Parameter]
    public string Url { get; set; } = "/";
}