<span class="rounded px-1.5 py-0.5 text-sm font-bold bg-@(Color)-500">
    <span class="select-none text-@(Color)-200">
        @ChildContent
    </span>
</span>

@code {
    [Parameter]
    public string Color { get; set; } = "red";
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}