<a href="/" class="p-4 rounded-lg text-left border-slate-300 border-2 border-dashed bg-slate-50 hover:bg-slate-100 text-slate-400 hover:text-black transition-all ease-in-out duration-75">
    <p class="mb-2 font-bold">
        📦 See rest
    </p>
    <p class="text-sm">
        More things that I've made right this way.
    </p>
</a>