<a href=@(Url) class="p-4 rounded-lg text-left border-slate-300 border-2 border-dashed bg-slate-50 hover:bg-slate-100 text-slate-400 hover:text-black transition-all ease-in-out duration-75">
    <div class="flex flex-nowrap gap-1 mb-2 font-bold">
        <p class="self-center">
            @(TitlePrefix)
        </p>
        <p class="self-center">
            @(Title)
        </p>
    </div>
    <p class="mb-2 text-sm">
        @(Body)
    </p>
    <div class="flex flex-nowrap gap-1 justify-end">
        @(ChildContent)
    </div>
</a>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string TitlePrefix { get; set; } = string.Empty;
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string Body { get; set; } = string.Empty;
    [Parameter] public string Url { get; set; } = "/";
}