@rendermode InteractiveServer
@inject NavigationManager Navigation

<div class="h-10">
    <button @onclick="NavigateToUrl" class="w-full h-10 hover:h-12 hover:-translate-y-1 rounded-xl bg-gradient-to-r from-@(LeftColor)-200 bg-@(RightColor)-200 hover:bg-@(RightColor)-300 hover:z-10 hover:scale-105 shadow-md hover:shadow-xl hover:tracking-wide transition-all ease-in-out duration-150">
        <p class="text-sm font-bold uppercase text-center truncate text-black">
            @(TileText)
        </p>
    </button>
</div>

@code {
    [Parameter]
    public string LeftColor { get; set; } = "slate";
    
    [Parameter]
    public string RightColor { get; set; } = "slate";
    
    [Parameter]
    public string TileText { get; set; } = string.Empty;
    
    [Parameter]
    public string Url { get; set; } = "/";
    
    private void NavigateToComponent(string url)
    {
        Navigation.NavigateTo(url);
    }

    private void NavigateToUrl()
    {
        NavigateToComponent(Url);
    }
}
