@using BlazorPersonalWebsite.Components.Modules;

<div class="flex justify-center mt-16">
    <Subtle>
        <StandardLink LinkText="Copyright &copy; 2023 Chris Phu" URL="https://github.com/chrisphu/chrisphu.github.io/blob/main/LICENSE.md" NoUnderline="true" />
    </Subtle>
</div>