<div class="mt-16 flex justify-center">
    <Subtle>
        <StandardLink LinkText="Copyright &copy; 2023 Chris Phu" URL="https://github.com/chrisphu/chrisphu.github.io/blob/main/LICENSE.md" Underline="false" />
    </Subtle>
</div>