<header>
    <h1 class="mb-2 text-4xl font-bold uppercase tracking-wide">
        <a href="/" class="no-underline">
            Chris Phu <span class="inline-block select-none">🤔</span>
        </a>
    </h1>
</header>