header > h1 {
    margin-bottom: 0.5em;
}

header > h1 > a {
    font-size: 1.33em;
    color: #e67e80;
    text-decoration: none;
}

@keyframes accent-animation {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

#website-title-accent {
    /* Display & box model */
    display: inline-block;

    /* Animation */
    animation-name: accent-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}