<header>
    <h1 class="mb-8 text-4xl font-bold uppercase tracking-wide">
        <StandardLink LinkText="Chris Phu" URL="/" Underline="false" />
        <span class="inline-block select-none">🤔</span>
    </h1>
</header>