span {
    /* Display & box model */
    padding: 0.125em 0.375em 0.125em 0.375em;
    /* Font */
    font-size: 0.85em;
    font-weight: bold;
    white-space: nowrap;
    /* Other */
    border-radius: 0.25em;
    color: #3d484d;
    background-color: #232a2e;
}
