@inherits LayoutComponentBase

<div class="flex justify-center text-slate-950 w-full p-0 sm:p-2">
    <div class="p-6 sm:p-8 bg-slate-50 sm:rounded-lg">
        <Header></Header>
        <Nav></Nav>
        <main>
            <article>
                @Body
            </article>
        </main>
        <Footer></Footer>
    </div>
</div>
