/*
https://flowbite.com/docs/getting-started/blazor/#install-tailwind-css

1. Run `npm install tailwindcss @tailwindcss/cli --save-dev`. The @import below won't recognize "tailwindcss" otherwise.
2. Run `npx tailwindcss -i wwwroot/css/tailwindcss/input.css -o wwwroot/css/tailwindcss/output.css --watch`.

tailwindcss 4.x now uses CSS-first configuration.
TODO: Read more at https://tailwindcss.com/blog/tailwindcss-v4#css-first-configuration
 */

@import "tailwindcss";

/* Safelisting https://tailwindcss.com/blog/tailwindcss-v4#css-first-configuration */
@source inline("bg-{slate,gray,zinc,neutral,stone,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-200");
@source inline("text-{slate,gray,zinc,neutral,stone,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-500");
@source inline("my-{0,0.5,1,1.5,2,2.5,3,3.5,4,5,6,7,8,9,10}");

/* Fonts */
/*
For some reason my IDE insists that src should be url('fonts/...') instead of url('/fonts/...'). As far as I can
tell, the latter works and the former doesn't so...
*/
@font-face {
    font-family: Inter;
    src: url('/fonts/Inter-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Inter;
    src: url('/fonts/Inter-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: Inter;
    src: url('/fonts/Inter-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Inter;
    src: url('/fonts/Inter-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: JetBrainsMono;
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@theme {
    /* Theme variables https://tailwindcss.com/docs/theme */
    --radius-xl: 0.75rem;
    
    /* Appearance */
    --background-color: var(--color-slate-200);
    
    /* Text */
    --font-sans: Inter, sans-serif;
    --font-serif: serif;
    --font-mono: JetBrainsMono, monospace;
    
    /* Animations */
    --animate-sliding-background: sliding-background 4s linear infinite;
    --animate-header-accent: header-accent 5s ease-in-out infinite;
    --animate-banner-icon: banner-icon 4s ease-in-out infinite;
    
    @keyframes sliding-background {
        0%   { background-position: 0 0;        }
        100% { background-position: -4rem 4rem; }
    }
    
    @keyframes header-accent {
        0%   { transform: rotate(10deg);  }
        50%  { transform: rotate(-10deg); }
        100% { transform: rotate(10deg);  }
    }
    
    @keyframes banner-icon {
        0%   { transform: rotate(0)         scale(1);   }
        10%  { transform: rotate(10deg)     scale(1.1); }
        30%  { transform: rotate(-10deg)    scale(1.1); }
        40%  { transform: rotate(0deg)      scale(1);   }
        100% { transform: rotate(0)         scale(1);   }
    }
}

@layer base {
    ::-webkit-scrollbar {
        display: none;
    }
}
