<!DOCTYPE html>
<html lang="en" class="sm:bg-[url('/images/dots.png')] sm:animate-sliding-background sm:bg-[length:4rem] sm:bg-slate-50">
    <head>
        <base href="/" />
        <link href="/css/app.min.css" rel="stylesheet" />
        <link href="BlazorPersonalWebsite.styles.css" rel="stylesheet" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="favicon.png"/>
        <title>Chris Phu</title>
        <HeadOutlet/>
    </head>

    <body>
        <Routes/>
        <script src="_framework/blazor.web.js"></script>
    </body>
</html>