<div class="mt-16 flex justify-center">
    <Subtle>
        <StandardLink LinkText="Copyright &copy; 2024 Chris Phu"
                      URL="https://github.com/chrisphu/BlazorPersonalWebsite/blob/main/LICENSE"
                      Underline="false" />
    </Subtle>
</div>