@using BlazorPersonalWebsite.Components.Modules.Decorations
@using BlazorPersonalWebsite.Components.Modules.StandardAssets

<div class="mt-16 flex justify-center">
    <SubtleText>
        <Link LinkText="Copyright &copy; 2024 Chris Phu"
                      Href="https://github.com/chrisphu/BlazorPersonalWebsite/blob/main/LICENSE"
                      Underline="false" />
    </SubtleText>
</div>