@inherits LayoutComponentBase

<div class="flex w-full justify-center p-0 sm:p-4 text-slate-950">
    @* TODO: Consider better scaling for 4K monitors? *@
    <div class="w-full sm:w-2xl bg-slate-50 p-6 shadow-none sm:rounded-2xl sm:p-8 sm:shadow-2xl">
        <Header></Header>
        <main>
            <article>
                @Body
            </article>
        </main>
        <Footer></Footer>
    </div>
</div>