@using BlazorPersonalWebsite.Components.Modules.StandardAssets

<nav class="my-1 text-base tracking-normal">
    <Link LinkText="Home" Href="/" Underline="true" />
    <span class="select-none">&ensp;/&ensp;</span>
    <Link LinkText="About" Href="/about" Underline="true" />
</nav>