<div class="p-2 pr-3 rounded-md bg-amber-100 text-amber-600 flex flex-nowrap gap-2 mt-2 mb-2 ring-amber-300 ring-2">
    <img src="/images/twemoji-warning.png" class="h-5 m-1.5 animate-banner-icon">
    <div>@(ChildContent)</div>
</div>

@code {
    // TODO: Add other banner types as a selectable enum.
    [Parameter] public RenderFragment? ChildContent { get; set; }
}