<div class="p-3 rounded-r-md border-amber-300 border-l-4 bg-amber-100 flex flex-nowrap shadow-md gap-2 my-2
            sm:-mx-12">
    <img src="/images/twemoji-warning.png" class="h-5 m-1.5 animate-banner-icon">
    <div class="text-sm text-amber-600">@(ChildContent)</div>
</div>

@code {
    // TODO: Add other banner types as a selectable enum.
    [Parameter] public RenderFragment? ChildContent { get; set; }
}