<div class="p-3 rounded-r-md border-amber-300 border-l-4 bg-amber-100 flex flex-nowrap place-items-center shadow-md
            gap-2 my-2 -mx-0.5 sm:-mx-14.5">
    <img src="/images/twemoji-warning.png" class="h-5 mr-1.5 mb-0.5 animate-banner-icon">
    <div class="text-base sm:text-sm text-amber-600">@(ChildContent)</div>
</div>

@code {
    // TODO: Add other banner types as a selectable enum.
    [Parameter] public RenderFragment? ChildContent { get; set; }
}