@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<p class="subtle">Last updated 2024 April 14</p>

<p>Welcome to my website! I document and write about my projects and interests here from time to time. This website itself is actually a project as it is a simple <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Blazor web app</a> hosted on <a href="https://pages.github.com">GitHub Pages</a>.</p>

<p>The dates next to the links below are roughly when I completed (or shelved) the respective topic.</p>

<h2>Projects</h2>

<ul>
	<li><a href="https://github.com/chrisphu/chrisphu.github.io">Website</a> <BlazorPersonalWebsite.Components.Layout.Label /> – Ongoing</li>
	<li><a href="https://github.com/chrisphu/basic-filename-linter">Basic filename linter</a> <BlazorPersonalWebsite.Components.Layout.Label /> – November 2023</li>
	<li><a href="https://www.printables.com/model/276528-modern-chess-pieces">Modern chess pieces</a> <BlazorPersonalWebsite.Components.Layout.Label /> – January 2021</li>
</ul>

<h2>Fun</h2>

<ul>
	<li><a href="/pages/stuff/puzzmo">Puzzmo</a> <BlazorPersonalWebsite.Components.Layout.Label /> – Ongoing</li>
	<li><a href="/pages/stuff/20th-century-food-court-completed">20th Century Food Court completed!</a> <BlazorPersonalWebsite.Components.Layout.Label /> – October 2023</li>
</ul>