@page "/"
@using BlazorPersonalWebsite.Components.Modules

<PageTitle>Home</PageTitle>

<StandardHeading1>
	Home
</StandardHeading1>

<Caption>
	Last updated 2024 April 14
</Caption>

<StandardParagraph>
	Welcome to my website! I document and write about my projects and interests here from time to time. This website itself is actually a project as it is a <StandardLink LinkText="Blazor web app" URL="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" /> using <StandardLink LinkText="Tailwind CSS" URL="https://tailwindcss.com" /> and is being hosted on <StandardLink LinkText="GitHub Pages" URL="https://pages.github.com" />.
</StandardParagraph>

<StandardParagraph>
	The dates next to the links below are roughly when I completed (or shelved) the respective topic.
</StandardParagraph>

<StandardHeading2>
	Projects
</StandardHeading2>

<StandardParagraph>
	The dates next to the links below are roughly when I completed (or shelved) the respective topic.
</StandardParagraph>

<StandardUnorderedList>
	<li><StandardLink LinkText="Website" URL="https://github.com/chrisphu/chrisphu.github.io" /> <Label BackgroundColor="bg-blue-500">Test</Label> – Ongoing</li>
	<li><StandardLink LinkText="Basic filename linter" URL="https://github.com/chrisphu/basic-filename-linter" /> <Label>Test</Label> <Label>Test</Label> – November 2023</li>
	<li><StandardLink LinkText="Modern chess pieces" URL="https://www.printables.com/model/276528-modern-chess-pieces" /> <Label>Test</Label> <Label>Test</Label> – January 2021</li>
</StandardUnorderedList>

<StandardHeading2>
	MISC
</StandardHeading2>

<StandardUnorderedList>
	<li><StandardLink LinkText="Puzzmo" URL="/" /> <Label>Test</Label> – Ongoing</li>
	<li><StandardLink LinkText="20th Century Food Court completed!" URL="/" /> <Label>Test</Label> – October 2023</li>
</StandardUnorderedList>